# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Seccion-5/angular-basicos-5.0.0/dist
/Seccion-5/angular-basicos-5.0.0/tmp
/out-tsc
# Only exists if Bazel was run
/Seccion-5/angular-basicos-5.0.0/bazel-out

# dependencies
/Seccion-5/angular-basicos-5.0.0/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/Seccion-5/angular-basicos-5.0.0/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/Seccion-5/angular-basicos-5.0.0/.sass-cache
/Seccion-5/angular-basicos-5.0.0/connect.lock
/Seccion-5/angular-basicos-5.0.0/coverage
/Seccion-5/angular-basicos-5.0.0/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/Seccion-5/angular-basicos-5.0.0/typings

# System Files
.DS_Store
Thumbs.db
